/* CSS Document */
body, p, li, a, input, label {
  font: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif !important;  
}
 div.ui-tabs-hide{
  display: none !important;
}

fieldset#edit-tests .form-type-checkbox{
  width:  23%;
  display: inline-block;  
}

table.sticky-header{
  top: 60px !important;
}

table td.tps-heading {
  text-align: center;
  font-weight: bold;  
  background-color: white;
  border-bottom: 1px solid #EFEFEF;
  border-right: none;
  border-left: none;
  padding-top: 1em;
}

table td.tps-data {
  border-top: 3px solid #E9E7E6;
}
table td.tps-label {
  text-align: right;
  font-weight: bolder; 
  background-color: white;
  font-size: .8em;
}

table td.comp {
  border-right: 1px solid #FFBF80; 
}
table td.tps-value {
  text-align: left;
  font-style: italic;
  background-color: #F8F8F8; 
}

table td.emuge.tps-value, table td.comp.tps-value {
  text-align: center; 
}

table td.emuge, table td.emuge-costs {
  background-color: #FFD0A1;
}

table td.comp, table td.comp-costs {
  background-color: #AAD6FF;
}

table td.emuge-costs.tps-value, table td.comp-costs.tps-value {
  text-align: center;
  font-style: italic;
}

table td.total.tps-value,table td.total.tps-value, table td.success.tps-value, table td.fail.tps-value {
  font-size: 18px;
  font-weight: bold; 
  text-align: right;
}

table td.success.tps-value, table td.test.results.tps-value{
 background-color: #FFD0A1; 
 border-right: none;
 border-left: none;
}

table td.fail.tps-value{
 color: #C14300; 
 background-color: #AAD6FF;
 border-right: none;
 border-left: none;
}

table td.test-label, table td.tps-spacer {
  text-align: right;
  font-weight: bold;  
  background-color: white;
  font-size: .8em;
}

table td.test-label.tps-label {
}

table td.results-heading {
   font-size: 18px;
   text-align: right;
   border-right: none;
   border-left: none;
}

table tr {
  
}

table td {
}